/* user settings */
:root {
    --font-family: 'Roboto Mono', monospace !important;
    /*
    --font-family: 'Jetbrains Mono NL', monospace !important;
    --font-family: 'Anonymous Pro', monospace;
    --font-family: 'Courier Prime', monospace;
    --font-family: 'Cousine', monospace;
    --font-family: 'Cutive Mono', monospace;
    --font-family: 'DM Mono', monospace;
    --font-family: 'Fira Mono', monospace;
    --font-family: 'IBM Plex Mono', monospace;
    --font-family: 'Inconsolata', monospace;
    --font-family: 'Nanum Gothic Coding', monospace;
    --font-family: 'PT Mono', monospace;
    --font-family: 'Roboto Mono', monospace;
    --font-family: 'Share Tech Mono', monospace;
    --font-family: 'Source Code Pro', monospace;
    --font-family: 'Space Mono', monospace;
    --font-family: 'Ubuntu Mono', monospace;
    --font-family: 'VT323', monospace;
    */
    --font-size: 14px;
    --font-weight: 600 !important; /* 200 : 900 */
    --line-height: 1.2;

    --font-size-lyrics: 14px !important; /* 1.5em (default) */

    --font-family-header: "asciid" !important;
    --font-size-multiplier-header: 4 !important;

    --display-card-image: block !important; /* none | block */
    --display-coverart-image: block !important; /* none | block */
    --display-header-image: block !important; /* none | block */
    --display-library-image: block !important; /* none | block */
    --display-tracklist-image: block !important; /* none | block */
    --display-spicetify-banner-ascii: block !important; /* none | block */
    --display-music-banner-ascii: none !important; /* none | block */

    --border-radius: 0px !important;
    --border-width: 2px !important;
    --border-style: solid !important; /* dotted | dashed | solid | double | groove | ridge | inset | outset */
}
